* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.links-container {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.allBeers-container {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.randomBeer-container {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.newBeer-container {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.beers {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.random-beer {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.new-beer {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.beer-box {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  border: 1px solid;
  padding: 2%;
}
.beer-detail {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  border: 1px solid;
  padding: 2%;
}
